<ion-header>
  <ion-toolbar>
    <ion-title>Blogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-left padding-top>
  <ion-card #slidingList>
    <ion-card-header>
      <ion-card-title>titulo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>descripcion</ion-card-content>
  
    <ion-button color="success">Editar</ion-button>
    <ion-button color="danger">Eliminar</ion-button>
    <ion-button color="light">
      Compartir
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
  </ion-card>
  
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge="true">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
