<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-left padding-top>
  <ion-card *ngFor="let user of users" >
    <ion-card-content>{{user.nombre}}</ion-card-content>
    <ion-card-content>{{user.apellidos}}</ion-card-content>
    <ion-card-content>{{user.correo}}</ion-card-content>
    <ion-card-content>{{user.birth}}</ion-card-content>
    <ion-button color="danger">Eliminar</ion-button>
  </ion-card>
</ion-content>
