<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHrerf=""></ion-back-button>
    </ion-buttons>
    <ion-title>Editar blog</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="blogs">
    <ion-item lines="none">
      <ion-label>{{blogs.title}}</ion-label>
      <ion-note color="medium" slot="start">Título</ion-note>
      <ion-icon (click)="editAtributo('title')" slot="end" name="create"></ion-icon>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label>{{blogs.description}}</ion-label>
      <ion-note color="medium" slot="start">Descriptión</ion-note>
      <ion-icon (click)="editAtributo('title')" slot="end" name="create"></ion-icon>
    </ion-item>
    <div no-padding>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button expand="block" color="success" shape="round" size="small" padding type="submit">
              Guardar
            </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button expand="block" color="warning" shape="round" 
            [routerLink]="['/blog-l']" size="small" padding type="submit">
              Cancelar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
</ion-content>

