<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Información acerca del desarrollador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Nombre de la aplicación:
        Blogs
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Autor: </p>
      <h2>José David Ccorimanya Alfaro</h2>
      <p>Créditos: </p>
      <h2>Ionic, Ing. Ivan Soria Solis</h2>
      <h2>Equipo de desarrollo RJ Software Depelopers</h2>
      <p>
          Condiciones de uso de la aplicació<br>
            Uso adecuado del lenguaje, evitar falsa información y <br>
            cuidar el vocavulario usado, la información que usa <br>
            al registrarse quedara grabado, pero este quedara <br>
            y almacenara de manera conficencial.<br>
            Gracias.<br>
      </p>
    </ion-card-content>


  </ion-card>

</ion-content>