<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item class="mb-3">
        <ion-label class="form-label">Correo</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="credentials.correo"
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" name="correo"></ion-input>
        <ion-icon slot="start" name="mail"></ion-icon>
    </ion-item>
    <ion-item class="mb-3">
        <ion-label class="form-label">Contraseña</ion-label>
        <ion-input type="password" class="form-control" [(ngModel)]="credentials.password" 
        name="password"></ion-input>
        <ion-icon slot="start" name="key"></ion-icon>
    </ion-item>
  </form>
  <div no-padding>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button (click)="login()" 
          expand="block" color="success" shape="round" 
          size="small" padding type="submit">
            Ingresar
          </ion-button>
        </ion-col>
        <ion-col col-6>
          <ion-button [routerLink]="['/createuser']" routerLinkActive="router-link-active" expand="block" shape="round" size="small" padding type="submit">
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión a traves de:</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-button (click)="onClick()" routerLinkActive="router-link-active" type="submit" color="light">
        <ion-img slot="start" src="assets/imgs/logoGoogle.png" style="width: 32px; height: 32px;"></ion-img>
        Google
      </ion-button>
      <ion-button (click)="loginF()" routerLinkActive="router-link-active" type="submit" color="light">
        <ion-img slot="start" src="assets/imgs/LogoFacebook.png" style="width: 32px; height: 32px;"></ion-img>
        Facebook
      </ion-button>
    </ion-card-content>
  
  </ion-card>
</ion-content>