
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-img style="width: 300px; height: 150px" src="assets/imgs/blog.png" padding>
          </ion-img>
          <ion-title>Mi Blog - Menu</ion-title>
          <ion-item-divider>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="true" [routerLink]="['/home']" routerLinkActive="router-link-active">
              <ion-label>
                Inicio
              </ion-label>
              <ion-icon slot="start" name="clipboard"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="login">
            <ion-item detail="true" [routerLink]="['/blog-l']" routerLinkActive="router-link-active">
              <ion-label>
                Mi blog
              </ion-label>
              <ion-icon slot="start" name="clipboard"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="login">
            <ion-item detail="true" [routerLink]="['/blog-c']" routerLinkActive="router-link-active">
              <ion-label>
                Crear blog
              </ion-label>
              <ion-icon slot="start" name="clipboard"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="login && rol == 'cliente' " detail="true"
            [routerLink]="['/user-i']" routerLinkActive="router-link-active">
              <ion-label>
                Perfil
              </ion-label>
              <ion-icon slot="start" name="person"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="login==false">
            <ion-item detail="true" [routerLink]="['/login']" routerLinkActive="router-link-active">
              <ion-label>
                Ingresar
              </ion-label>
              <ion-icon slot="start" name="log-in"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngIf="login">
            <ion-item detail="true" [routerLink]="['/home']" (click)="onClick()" routerLinkActive="router-link-active">
              <ion-label>
                Cerrar sesión
              </ion-label>
              <ion-icon slot="start" name="exit"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item detail="true" [routerLink]="['/createuser']" routerLinkActive="router-link-active">
              <ion-label>
                Registrarse
              </ion-label>
              <ion-icon slot="start" name="home"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


