<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label>nombre</ion-label>
      <ion-input type="text" style="margin-left: 3%;"  name="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>apellidos</ion-label>
      <ion-input type="text" style="margin-left: 3%;"  name="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>correo</ion-label>
      <ion-input type="email" style="margin-left: 3%;"  name="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>nacimiento</ion-label>
      <ion-input type="date" style="margin-left: 3%;"  name="correo"></ion-input>
    </ion-item>
  </form>
  <div no-padding>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-button id="present-alert">Guardar</ion-button>
          <ion-alert trigger="present-alert" header="Please enter your info" [buttons]="alertButtons"
          [inputs]="alertInputs"></ion-alert>
          <ion-button [routerLink]="['/']" routerLinkActive="router-link-active" color="warning" shape="round"
            padding type="submit">
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>