<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Blogs
    </ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding-left padding-top>
  
  <ion-card *ngFor="let blog of blogs">
    <ion-card-header>
      <ion-card-title>{{blog.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>{{blog.description}}</ion-card-content>
    <ion-button color="light">
      Compartir
      <ion-icon slot="start" name="paper-plane"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
